{% extends 'boards/base.html' %}
{% load bootstrap4 %}

{% block body %}
    <h1>Detail</h1>
    <hr />
    <p>글 번호: {{ board.pk }}</p>
    <p>글 제목: {{ board.title }}</p>
    <p>글 작성자: {{ board.user.username }}</p>
    <p>글 내용: {{ board.content }}</p>
    <p>글 생성시각: {{ board.created_at }}</p>
    <p>글 수정시각: {{ board.updated_at }}</p>
    <hr />
    <form action="{% url 'boards:comments_create' board.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input class="btn btn-primary" type="submit">


    </form>

    {% if user == board.user %}  <!--요청을 보내는 유저가 게시글의 유저일때만 수정/삭제 가능-->
        <form class="d-inline" action="{% url 'boards:delete' board.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="삭제" />
        </form>
        <a class="btn btn-warning" href="{% url 'boards:update' board.pk %}">수정</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'boards:index' %}">뒤로</a>
{% endblock %}
