{% extends 'boards/base.html' %}

{% block body %}
    {% if request.resolver_match.url_name == 'create' %}
    <h1>새로운 게시글 작성</h1>
    {% else %} <!-- Update 가 들어오면 -->
    <h1>게시글 수정</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="작성하기">
    </form>
    {% if request.resolver_match.url_name == 'create' %}
    <a href="{% url 'boards:index' %}">[뒤로가기]</a>
    {% else %}
    <a href="{% url 'boards:detail' board_pk %}">[뒤로가기]</a>
    {% endif %}
{% endblock %}